<table>
    <tbody>
        <tr class="butt">
            <td colspan="4">הוֹוֶה</td>
        </tr>
        <tr class="cont">
            <td>{{p_x_s_m}}</td>
            <td>{{p_x_s_f}}</td>
            <td>{{p_x_p_m}}</td>
            <td>{{p_x_p_f}}</td>
        </tr>
        <tr class="cont bord"></tr>
        <tr class="butt">
            <td colspan="4">עָבָר</td>
        </tr>
        <tr class="cont">
            <td colspan="2">{{pp_1_s_x}}</td>
            <td colspan="2">{{pp_1_p_x}}</td>
        </tr>
        <tr class="cont">
            <td>{{pp_2_s_m}}</td>
            <td>{{pp_2_s_f}}</td>
            <td>{{pp_2_p_m}}</td>
            <td>{{pp_2_p_f}}</td>
        </tr>
        <tr class="cont">
            <td>{{pp_3_s_m}}</td>
            <td>{{pp_3_s_f}}</td>
            <td colspan="2">{{pp_3_p_x}}</td>
        </tr>
        <tr class="cont bord"></tr>
        <tr class="butt">
            <td colspan="4">עָתִיד</td>
        </tr>
        <tr class="cont">
            <td colspan="2">{{f_1_s_x}}</td>
            <td colspan="2">{{f_1_p_x}}</td>
        </tr>
        <tr class="cont">
            <td>{{f_2_s_m}}</td>
            <td>{{f_2_s_f}}</td>
            <td>{{f_2_p_m}}</td>
            <td>{{f_2_p_f}}</td>
        </tr>
        <tr class="cont">
            <td>{{f_3_s_m}}</td>
            <td>{{f_3_s_f}}</td>
            <td>{{f_3_p_m}}</td>
            <td>{{f_3_p_f}}</td>
        </tr>
        <tr class="cont bord"></tr>
        <tr class="butt">
            <td colspan="4">צִוּוּי</td>
        </tr>
        <tr class="cont">
            <td>{{im_2_s_m}}</td>
            <td>{{im_2_s_f}}</td>
            <td>{{im_2_p_m}}</td>
            <td>{{im_2_p_f}}</td>
        </tr>
    </tbody>
</table>